*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
min-height: 100vh;
background-color: antiquewhite;
}
.container{
    background-color: azure;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 45vh;

}
form{
margin: 2rem  0 2rem 0;

}
form select, button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.7rem;


}
form input{
    border: 1px solid gray;
    font-size: 1rem;
    height: 2rem;
    padding-left: 0.5rem;

}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

}
.select-container img{
    max-width: 2rem;



}.select-container{
    display: flex;
    width: 7rem;
    border-radius: 0.5rem;
   
    justify-content: center;
    align-items: center;
    border: 1px solid gray;



}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container select{

    font-size: 1rem;
    width: 2 auto;

}
.msg{
    margin: 2rem 0 2rem 0;

}
form  button{
    height: 3rem;
    background-color: burlywood;
    color:rgb(4, 13, 20);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

}
